parameters:
  level: max
  implicitThrows: false
  paths:
    - src
  exceptions:
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
    uncheckedExceptionClasses:
      - LogicException
  exceptionRules:
    reportUnusedCatchesOfUncheckedExceptions: true
    uncheckedExceptions:
      - LogicException
    methodThrowTypeDeclarations:
      Psr\Http\Server\RequestHandlerInterface:
        handle:
          - Exception

includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/pepakriz/phpstan-exception-rules/extension.neon
